* {
    font-size: 16px;
}

body {
    background-color: #fff;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

table {
    width: 100%
}

td {
    padding: 5px 0;
}

td.pct-done {
    width: 25%;
}

.progress {
    background-color: #ddd;
    padding: 3px;
}

.progress > div {
    background-color: green;
    height: 20px;
}

.plus {
    width: 50px;
    text-align: center;
}
