body {
    background-color: #fff;
    font-family: sans-serif;
    margin: 15px 20px;
}

a {
    text-decoration: none;
}

table {
    width: 100%
}

td {
    padding: 5px 0;
    font-size: 16px;
}

td.pct-done {
    width: 35%;
}

td.progress-details {
    width: 60px;
    padding-left: 10px;
}

.progress {
    background-color: #ddd;
    padding: 3px;
}

.progress > div {
    background-color: green;
    height: 20px;
}

.plus {
    width: 50px;
    text-align: center;
}


ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#menu li {
    display: inline;
}
