* {
    font-size: 28px;
}

body {
    background-color: #fff;
    font-family: sans-serif;
}

table {
    width: 100%
}

td {
    padding: 5px 0;
}

td.pct-done {
    width: 400px;
}

.progress {
    background-color: #ddd;
    padding: 3px;
}

.progress > div {
    background-color: green;
    height: 20px;
}
