<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script src="/static/script.js"></script>
    <title>Habits</title>
  </head>
  <body>
    <ul class="menu">
      <li>Habits</li>
      <li><a href="/goals">Goals</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>

    <h2>Habits</h2>
    <ul class="menu">
      <li><a href="/habits/new">Add new habit</a></li>
    </ul>
    <h3>Week {{.CurrentWeekNumber}}</h3>
    <table>
      {{range .Habits}}
      <tr>
        <td>{{.Description}}</td>
        <td class="plus">
          <button onclick="updateHabitProgress('{{.Id}}')">+1</button>
        </td>
        <td id="pct-done-{{.Id}}" class="pct-done" title="{{.Done}} / {{.Todo}}">
          <div class="progress">
            <div id="done-{{.Id}}" style="width: {{.PctDone}}%"></div>
          </div>
        </td>
        <td class="progress-details">
          <span id="points-done-{{.Id}}">{{.Done}}</span> / {{.Todo}}
        </td>
      </tr>
      {{end}}
      <tr>
        <td colspan="2"></td>
        <td class="pct-done">
          <div class="progress">
            <div id="done-week" style="width: {{.ThisWeekPctDone}}%"></div>
          </div>
        </td>
        <td class="progress-details">
          <span id="this-week-done">{{.ThisWeekDone}}</span> / <span id="this-week-total">{{.ThisWeekTodo}}</span>
        </td>
      </tr>
    </table>
  </body>
</html>
