<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script src="/static/script.js"></script>
    <title>Habits</title>
  </head>
  <body>
    <h2>Habits</h2>
    <h3>Weekly</h3>
    <table>
      {{range .Habits}}
      <tr>
        <td>{{.Description}}</td>
        <td class="plus">
          <button onclick="updateHabitProgress('{{.Id}}')">+1</button>
        </td>
        <td id="pct-done-{{.Id}}" class="pct-done" title="{{.Done}} / {{.Todo}}">
          <div class="progress">
            <div id="done-{{.Id}}" style="width: {{.PctDone}}%">
            </div>
          </div>
        </td>
      </tr>
      {{end}}
    </table>
    <p>Progress this week: <span id="this-week-done">{{.ThisWeekDone}}</span> / {{.ThisWeekTodo}}</p>
  </body>
</html>
