<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script src="/static/script.js"></script>
    <title>TODOs</title>
  </head>
  <body>
    <table>
      {{range .}}
      <tr>
        <td>{{.Description}}</td>
        <td class="pct-done">
          <div class="progress">
            <div id="done-{{.Id}}" style="width: {{.PctDone}}%"></div>
          </div>
        </td>
        <td><a href="#" onclick="updateActivityProgress('{{.Id}}')">+</a></td>
      </tr>
      {{end}}
    </table>
  </body>
</html>
